@import 'colors';

$default-width: 400px;
$border-radius: 4px;
$border-input: 1px solid $border-color;
$border-input-focus: 2px solid $main-color;
$box-shadow: 0 4px 10px $box-shadow-color;
$input-font-size: 0.8rem;
$list-font-size: 0.9rem;