input[type=text].suggestion-input {
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    border-bottom: 1px solid #cacaca;
    width: 25%;
    font-size: 0.9rem;
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    position: absolute;
    line-height: 1.2;
}
  
input[type=text].suggestion-input:focus {
    transition: transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
    border-bottom: 2px solid #008CBA;
}

.end {
    right: 0;
}

.start {
    left: 0;
}

.center {
    right: 0;
    left: 0;
}

