.search-input-container {
    display: flex;
    flex-direction: column;
}

.search-input-container.suggestion-input input[type=text] {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #cacaca;
    outline: none;
    width: 25%;
    font-size: 0.8rem;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.2;
}
  
.search-input-container.suggestion-input input[type=text]:focus {
    transition: transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
    border-bottom: 2px solid #008CBA;
}

.end {
    align-items: flex-end;
}

.start {
    align-items: flex-start;
}

.center {
    align-items: center;
}

