@import 'colors', 'main', 'animations';

.search-input-container {
    display: flex;
    flex-direction: column;
    .search-input-container__inner {
        width: 100%;
        position: absolute;
        .search-input-container__title{
            position: absolute;
            pointer-events: none;
            transition: $focus-input-transition;
            left: 0;
        }
        .focus {
            transform: $focus-input-transform;
            transform-origin: 0.0;
        }
        .focus-color {
            color: $main-color;
        }
    }
    .suggestion-input {
        border: {
            top: none;
            left: none;
            right: none;
            bottom: $border-input;
        }
        outline: none;
        width: $default-width;
        font-size: $input-font-size;
        font-family: 'Open Sans', sans-serif;
        line-height: 1.2;
    }
    .suggestion-input:focus {
        border-bottom: $border-input-focus;
    }
}

.end {
    align-items: flex-end;
}

.start {
    align-items: flex-start;
}

.center {
    align-items: center;
}
