@import 'colors', 'main';

.search-input-container {
    display: flex;
    flex-direction: column;
    .search-input-container__inner {
        width: $default-width;
        position: absolute;
        .search-input-container__title{
            position: absolute;
            pointer-events: none;
            left: 0;
        }
        .focus {
            transform: translateY(-1.28125em) scale(.75) perspective(100px) translateZ(.001px);
            transform-origin: 0.0;
        }
        .focus-color {
            color: $main-color;
        }
    }
    .suggestion-input {
        border: {
            top: none;
            left: none;
            right: none;
            bottom: $border-input;
        }
        outline: none;
        width: $default-width;
        font-size: $input-font-size;
        font-family: 'Open Sans', sans-serif;
        line-height: 1.2;
    }
    .suggestion-input:focus {
        transition: transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
        border-bottom: $border-input-focus;
    }
}

.end {
    align-items: flex-end;
}

.start {
    align-items: flex-start;
}

.center {
    align-items: center;
}